<!DOCTYPE html>
<html lang="">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>

	<!--bower components-->
	<script src="/app/bower_components/angular/angular.js"></script>
	<script src="/app/bower_components/angular-route/angular-route.js"></script>

	<!--controllers-->
	<script src="/app/scripts/common/controllers/app.js"></script>
	<script src="/app/scripts/common/configs/appConfig.js"></script>
	<script src="/app/scripts/home/controllers/homeController.js"></script>


</head>

<body ng-app="myApp">

	<div ng-view>
	</div>

</body>

</html>